@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<div class="container">
    <div style="background-color: #f4f4f0;">
        <h2 class="">@Model.Content.Excerpt</h2>
        <p>@Model.Content.Date.ToShortDateString()</p>
    </div>
        <img src="@Model.Content.HeroImage.Url?width=800" alt="bannerImg" />
    <p>@Model.Content.BodyText</p>
</div>