@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<br />
<div class="container">
        <div class="boxShadow newsItem" style="background-image:url(@Model.Content.HeroImage.Url);">
            <div class="opBack">
                <h2>@Model.Content.Excerpt</h2>
                <p>@Model.Content.Date.ToShortDateString()</p>
            </div>
        </div>
    <br />
    <hr />
    <div class="col-md-12">
        <article>
            @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
        </article>
    </div>

    @*Insert comments here (Disqus)*@
</div>